*.box {
  background-color: lightgrey;
  border: 6px solid green;
  position: fixed;
  left: 30px;
  top: 100px;
  width: 285px; /* adjust width as needed */
  height: 559px;
  overflow: auto;
  border-radius: 15px 15px;
}

.center-box {
  border: 4px solid green;
  background-color: lightgrey;   
  position: fixed;
  left: 400px;
  top: 160px;
  width: 950px; /* adjust width as needed */
  height: 505px;
  border-radius: 10px 10px;
}
.top-CenterBox {
border: 4px solid green;
background-color: lightgrey;
position: fixed;
left: 400px;
top: 100px;
width: 950px;
height: 40px;
text-indent: 10px;
text-align-last: left;
border-radius: 10px 10px;
}

.top-border {
background-color: green;
position: fixed;
left: 0px;
top: 0px;
width: 1533px;
height: 25px;

}
.bottom {
background-color: green;
position: fixed;
left: 0px;
top: 705px;
width: 1533px;
height: 25px;
}

img {
  margin-top: 45px;
  margin-bottom: 45px;
  width:950px;
  height:382px;
  display: none;
}
video {
  margin-top: 45px;
  margin-bottom: 45px;
  width:950px;
  height:382px;
  display: none;
}

.background-div {
  width: 1525px; 
  height: 700px; 
  background-image: url('D:/Assignments/HCI FINAL PROJECT- GC-NAVIMAP/Pictures/BG.jpg'); 
  background-size: 1555px;
  background-position: fixed; 
  background-repeat: no-repeat;
  margin-right: 200px;
}

.box {
  position: fixed;
  display: inline-block;
  
}

.logo{
  background-image:  url("GordonLogo.jpg");

  background-size: 66px 66px;
  background-repeat: no-repeat;
  
  border:4px solid black;
  border-radius: 120px 120px;
  top: 30px;
  position: fixed;
  width: 65px;
  height: 65px;
  right: 115px;
}
.logo2{
  background-image:  url("GordonLogo1.jpg");

  background-size: 66px 66px;
  background-repeat: no-repeat;
  
  border:4px solid black;
  border-radius: 120px 120px;
  top: 30px;
  position: fixed;
  width: 65px;
  height: 65px;
  right: 30px;
}
/*BUTTON DIV*/

  .button {
    background-color: #00ff80;
    width: 180px;
    height: 45px;
    font-size: 10px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
  }
  .button:hover {
    color: white;
    font-weight:bold;
    display: inline-block;
  }

  /*DROPDOWN DIV*/
  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: 6px solid green;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 5px;
  
}
.show {
  display: block;
}


/*TEXT DIV*/
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

a:hover,
a:focus {
  outline: none; /* Remove outline on hover and focus */
}


.text {
  top: 350px;
  width: 272px;
  height: 30px;
  text-indent: 80px;
  line-height: 0;
  border: 7px solid green; 
  background-color: #90EE90;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;

}